      <tr>
        <td style="border-radius: 3px; background: #000;">
          <a
            href="https://google.com/"
            style="background: #000000; border: 1px solid #000000; font-family: 'Apercu Pro', -apple-system, 'Helvetica', 'Arial', sans-serif;font-weight: 700; text-align:center; font-size: 14px; line-height: 18px; text-decoration: none; padding: 12px 45px; color: #fff; display: block; border-radius: 3px; text-transform: uppercase">{{ label }}</a>
        </td>
      </tr>
