<table class="divider divider-{{ type }} {{ class }}">
  <tr>
    <td>
      <table class="divider-inner">
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>