<table class="divider-wrapper">
	<tr>
		<td class="divider-spacer">
			<table class="divider divider-{{ type }} {{ class }}" cellpadding="0" cellspacing="0">
				<tr>
					<td></td>
				</tr>
			</table>
		</td>
	</tr>
</table>