<div class="footer">
    <table>
        <tr>
            <td class="align-center">
              
                <table>
                    <tbody>
                        <tr>
                            <td class="align-center">
                                <em>Copyright &copy; *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.</em>
                                <br /> *|IFNOT:ARCHIVE_PAGE|* *|LIST:DESCRIPTION|*
                                <br />
                                <br />
                                <strong>Our mailing address is:</strong>
                                <br /> *|HTML:LIST_ADDRESS_HTML|* *|END:IF|*
                                <br />
                                <br /> You can
                                <a href="*|UNSUB|*">unsubscribe from this list here.</a>
                                <br />
                                <br />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>