<div class="footer">
    <table>
        <tr>
            <td class="align-center">
                This message was sent to <a href="mailto:\{{email}}">\{{email}}</a> because you are part of the NKBA.<br/> The National Kitchen
                and Bath Association<br/> 687 Willow Grove St<br/> Hackettstown, NJ 07840
            </td>
        </tr>
    </table>
</div>