/* -------------------------------------
    BUTTONS
------------------------------------- */

.btn-primary {
  background-color: $primary-color;
  border-radius: $btn-br;
  border: solid $primary-color;
  border-width: 0 20px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 44px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}
