/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 30px; // For consistent padding
$grey: #f6f6f6; // Background color
$width: 600px; // Width of the content area
$br: 3px; // Border radius
$primary-color: #348eda; // Primary color for buttons and links