/* -------------------------------------
    GLOBAL RESETS
------------------------------------- */

table,
td,
div,
a {
  box-sizing: border-box;
}

img {
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  height: 100% !important;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100% !important;
}

// Let's make sure all tables have defaults
table {
  -premailer-width: 100%; // This is a specific style for the premailer gem
  border-collapse: separate !important;
  mso-table-lspace:0pt;
  mso-table-rspace: 0pt;

  td {
    vertical-align: top;
     mso-table-lspace: 0pt;
     mso-table-rspace: 0pt;
  }
}

// External class fix for Outlook.com
.ExternalClass {
  width: 100%;
}

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
