/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */
body{
  background-color: $grey;
}

.body-wrap {
  background-color: $grey;
  width: 100%;
}

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display: block!important;
  max-width: $width!important;
  margin: 0 auto!important; /* makes it centered */
  clear: both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  max-width: $width;
  margin: 0 auto;
  display: block;
  padding: 10px;
}


/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */

.main{
  background:#fff;
  border: 1px solid darken($grey,5);
  border-radius:$br;
  width:100%;
}

.content-wrap{
  padding:$padding;
}

// Adds padding to content - use this instead of paragraphs for consistent padding/margin rendering
.content-block{
  padding:0 0 $padding;
}

.header{
  width:100%;
  margin-top:($padding - 10);
  margin-bottom:$padding;
}

.footer {
  width: 100%;
  clear: both;
  *{
    color: #999;
    font-size:12px;
  }
  td{
    padding:20px 0;
  }
}