/* -------------------------------------
    LINKS & BUTTONS
------------------------------------- */
a {
  color: $primary-color;
  text-decoration: underline;
}

.btn-primary {
  text-decoration: none;
  color: #FFF;
  background-color: $primary-color;
  border: solid $primary-color;
  border-width: 10px 20px;
  line-height: 2;
  font-weight: bold;
  margin: 0;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  text-transform: capitalize;
}