/* -------------------------------------
  NOTICES
------------------------------------- */

@mixin create-notice($color) {
  td {
    background: lighten($color, 44%);
    border: 1px solid lighten($color, 30%);
    border-radius: $notice-border-radius;
    color: darken($color, 10%);
    padding: $notice-padding;
  }
}

.notice {
  border-collapse: separate;

  &-spacer {
    padding: $notice-margin;
  }

  td {
    line-height: $notice-line-height;
    font-size: $notice-font-size;
    font-weight: $notice-font-weight;
  }

  // Color Variations
  &-info {
    @include create-notice($notice-color-info);
  }

  &-success {
    @include create-notice($notice-color-success);
  }

  &-warning {
    @include create-notice($notice-color-warning);
  }

  &-danger {
    @include create-notice($notice-color-danger);
  }

  // Size Variations
  &-lg td {
    font-size: ($notice-font-size * 1.2);
    line-height: $notice-line-height;
  }

}