/* -------------------------------------
    OTHER STYLES THAT MIGHT BE USEFUL
------------------------------------- */
.last {
  margin-bottom: 0;
}

.first {
  margin-top: 0;
}

.aligncenter{
  text-align:center;
}

.alignright{
  text-align:right;
}

.clear{
  clear:both;
}