/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */

table[class=body]{
  @media only screen and (max-width: $width+40) {

    // Spacing
    .content,
    .wrapper {
      padding: 0px !important;
    }

    .container {
      padding: 0 !important;
      width: 100% !important;
    }

    // Buttons
    .btn table,
    .btn a {
      width: 100% !important;
    }
  }
}
