/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #000;
  margin: 0;
  line-height: 1.4;
  font-weight: 400;
}

h1 {
  font-size: 38px;
  font-weight: 300;
  text-transform: capitalize;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4{
  font-size: 14px;
  font-weight:500;
}

p, ul, ol {
  margin: 0;
  font-weight: normal;
  li{
    margin-left: 5px;
    list-style-position: inside;
  }
}
