/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #000;
  margin: 40px 0 10px;
  line-height: 1.2;
  font-weight: 400;
}

h1 {
  font-size: 32px;
  font-weight: 500;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4{
  font-size: 14px;
  font-weight:600;
}

p, ul, ol {
  margin-bottom: 10px;
  font-weight: normal;
  li{
    margin-left: 5px;
    list-style-position: inside;
  }
}
