/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */

@font-face {
  font-family: 'Apercu Pro';
  src: url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-light-pro-subset.woff2") format("woff2"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-light-pro-subset.woff") format("woff"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-light-pro-subset.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  mso-font-alt: 'Calibri';
}

@font-face {
  font-family: 'Apercu Pro';
  src: url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-light-italic-pro-subset.woff2") format("woff2"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-light-italic-pro-subset.woff") format("woff"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-light-italic-pro-subset.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  mso-font-alt: 'Calibri';
}

@font-face {
  font-family: 'Apercu Pro';
  src: url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-regular-pro-subset.woff2") format("woff2"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-regular-pro-subset.woff") format("woff"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-regular-pro-subset.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  mso-font-alt: 'Calibri';
}

@font-face {
  font-family: 'Apercu Pro';
  src: url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-regular-italic-pro-subset.woff2") format("woff2"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-regular-italic-pro-subset.woff") format("woff"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-regular-italic-pro-subset.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  mso-font-alt: 'Calibri';
}

@font-face {
  font-family: 'Apercu Pro';
  src: url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-medium-pro-subset.woff2") format("woff2"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-medium-pro-subset.woff") format("woff"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-medium-pro-subset.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  mso-font-alt: 'Calibri';
}

@font-face {
  font-family: 'Apercu Pro';
  src: url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-medium-italic-pro-subset.woff2") format("woff2"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-medium-italic-pro-subset.woff") format("woff"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-medium-italic-pro-subset.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  mso-font-alt: 'Calibri';
}

@font-face {
  font-family: 'Apercu Pro';
  src: url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-bold-pro-subset.woff2") format("woff2"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-bold-pro-subset.woff") format("woff"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-bold-pro-subset.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  mso-font-alt: 'Calibri';
}

@font-face {
  font-family: 'Apercu Pro';
  src: url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-bold-italic-pro-subset.woff2") format("woff2"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-bold-pro-subset.woff") format("woff"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/apercu-bold-pro-subset.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  mso-font-alt: 'Calibri';
}

@font-face {
  font-family: 'Freight Display';
  src: url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/freight-display.woff2") format("woff2"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/freight-display.woff") format("woff"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/freight-display.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  mso-font-alt: 'Calibri';
}

@font-face {
  font-family: 'Freight Display';
  src: url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/freight-display-italic.woff2") format("woff2"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/freight-display-italic.woff") format("woff"), url("https://glossier-email-assets.s3.amazonaws.com/pro-subsetted/freight-display-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  mso-font-alt: 'Calibri';
}

h1,
h2,
h3,
h4 {
  color: $font-color !important;
  font-family: 'Apercu Pro', -apple-system, Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.4em;
  margin: 0;
  margin-bottom: 30px;
}

h1 {
  font-size: 38px;
  text-transform: capitalize;
  font-weight: 300;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
  font-weight:500;
}

p,
ul,
ol {
  font-family: 'Apercu Pro', -apple-system, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 16px;
  text-align: center;

  li {
    list-style-position: inside;
    margin-left: 5px;
  }
}

a {
  color: $link;
  text-decoration: underline;
}

// Break long strings to prevent x-scrolling
code,
pre,
.word-wrap {
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
