/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
@media only screen and (max-width: 600px) {

  // Type
  h1,h2,h3,h4{
    font-weight:600 !important;
  }
  h1{
    font-size:22px !important;
  }
  h2{
    font-size:18px !important;
  }
  h3{
    font-size:16px !important;
  }

  // Spacing
  .content,.content-wrapper{
    padding:10px !important;
  }

  // Invoice table
  .invoice{
    width:100% !important;
  }
}