// VARIABLES
$padding: 7px;

$bg-primary: transparent;
$bg-secondary: #262627 !important;
$bg-tertiary: #efefef; // dark mode safe color
$bg-quaternary: #e2e2e3; // dark mode safe color

$color-primary: #cd7e2b !important;
$color-secondary: #e8e6e4 !important; // contrast to bg-secondary
$color-tertiary: #3b5998 !important;

$color-text: #111111;
$color-link: #3b5998;

$font-family: "Helvetica", Arial, Verdana, sans-serif;

$font-size: 18px;
$line-height: 140%; // mobile
$line-height-lg: 147% // desktop