/* 
THEME-K newsletter template
*/

// HEADER
.logo {
	/*
    width: 92px;
    height: 60px;
    */
	color: $color-secondary  !important;
}

.tagline,
.tagline small,
.tagline a,
.tagline a:visited {
	// default for clients without media queries
	font-size: 15px;

	color: $color-secondary  !important;

	@media (max-width: 400px) {
		font-size: 13px !important;
	}
}

// HEADLINES
.date,
.location {
	line-height: 140%;
}

.headline,
.subline {
	line-height: 100%;
}

.headline {
	font-size: 230%;
	letter-spacing: -1px;
}

.subline {
	font-size: 170%;
	letter-spacing: -1px;
}

.quote {
	font-size: 14px;

	@media (max-width: 400px) {
		font-size: 13px !important;
	}
}

.date,
.location {
	font-size: 100%;
	font-weight: bold;
}

.button {
	border-radius: 0px;
	display: inline-block;
	font-size: 16px;
	font-style: normal;
	text-decoration: none;
	line-height: 100%;
	padding: 16px 28px;
	min-width: 30px;
	text-align: center;
}

.list {
	list-style-position: outside;
	padding: 0 0 0 $padding*2;
}

.list-item {
	padding: 0 0 $padding 0;
}

.poster-wrap {
	// mobile: full-width image
	margin: 0 auto 0 auto;
	max-width: 400px;

	// desktop: smaller image
	@media (min-width: 401px) {
		max-width: 380px !important;
	}
}

.poster,
.poster img,
.poster small {
	color: lighten($color-text, 10%);
}

.poster img {
	border: none;
}

.poster small {
	font-size: 13px;

	@media (max-width: 400px) {
		font-size: 12px !important;
	}
}

.facebook {
	span {
		font-size: 90%;
		color: $color-link  !important;
	}

	a,
	a:visited {
		color: $color-link  !important;
	}
}

// FOOTER
.imprint a,
.unsubscribe a {
	text-decoration: underline;
}

/* works in dark mode */
.imprint,
.imprint small,
.imprint a,
.imprint a:visited {
	color: lighten($color-text, 10%);
	font-size: 14px;

	@media (max-width: 400px) {
		font-size: 13px !important;
	}
}

.unsubscribe,
.unsubscribe small,
.unsubscribe a,
.unsubscribe a:visited {
	color: lighten($color-text, 10%);
	font-size: 13px;

	@media (max-width: 400px) {
		font-size: 12px !important;
	}
}

// a divider line
hr,
.hr {
	border-bottom: 1px dotted $color-text;
}