<!DOCTYPE html>
<html lang="en" class="preview-interface-view">
<head>
  <meta charset="UTF-8">
  <title>Grunt Email Workflow :: (Preview)</title>
  <link rel="stylesheet" href="/css/preview.css">
</head>
<body>
  <div id="header" class="header">
    <div class="header--brand"><a href="https://github.com/leemunroe/grunt-email-workflow" target="_blank">Grunt Email Workflow</a></div>
    <div class="header--select">
      Preview:&nbsp;
      <select id="template-select">
        <option value="_blank.html">Select a Template</option>
        <% templates.forEach(function(template) { %>
          <option value="<%= template.filename %>" data-subject="<%= template.subject %>"><%= template.filename %></option>
        <% }); %>
      </select>
    </div>
  </div>
  <section class="preview-ui">
    <article class="preview-ui--full">
      <div class="preview-ui--full__container">
        <iframe src="_blank.html"></iframe>
      </div>
    </article>
    <!-- http://www.paintcodeapp.com/news/ultimate-guide-to-iphone-resolutions -->
    <article id="mobile-drawer" class="preview-ui--mobile">
      <a class="js-drawer-toggle preview-ui--mobile__toggle toggle-drawer-close"></a>
      <a class="js-drawer-toggle preview-ui--mobile__toggle toggle-drawer-open"></a>
      <div class="preview-ui--mobile__container">
        <iframe src="_blank.html"></iframe>
      </div>
    </article>
    <br style="clear:both;">
  </section>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
(function($) {

  // Reusables
  var $templateSelect = $('#template-select'),
    $body = $('body'),
    h = document.location.hash,
    drawerCookieName = 'mobile-drawer-hidden';

  // On change, reload template
  $templateSelect.on('change', function() {
    var $s = $(this),
      v = $s.val(),
      ms = new Date().getTime();  // We'll timestamp each iframe load for cache-busting

    if (!v)
      return;
    
    $('iframe').attr('src', v + '?t=' + ms);
    document.location.hash = 'template:' + v;

  });

  // Preload selected template from hashed template:
  if (h && h.indexOf('template:') != -1) {
    var tpl = h.split(':')[1];

    $templateSelect.val(tpl).trigger('change');

  }

  // Mobile Preview Drawer
  function mobilePreviewDrawer() {
    var $toggleBtns = $('.js-drawer-toggle'),
      $mobileDrawer = $('#mobile-drawer'),
      drawerHiddenClass = 'mobile-drawer-hidden';

    $toggleBtns.on('click', function() {

      $body.toggleClass(drawerHiddenClass);

      // Remember via cookie the drawer state
      if ($body.hasClass(drawerHiddenClass)) {
        setCookie(drawerCookieName, 1, 30);
      } else {
        setCookie(drawerCookieName, 1, -30);
      }

    });
  }

  mobilePreviewDrawer();

  // Close the drawer onload if we have the cookie
  if (getCookie(drawerCookieName)) {
    $('.js-drawer-toggle:eq(0)').trigger('click');
  }

  // Debounce helper
  // url: http://davidwalsh.name/javascript-debounce-function
  function _debounce(func, wait, immediate) {
    var timeout;
    return function() {
      var context = this, args = arguments;
      var later = function() {
        timeout = null;
        if (!immediate) func.apply(context, args);
      };
      var callNow = immediate && !timeout;
      clearTimeout(timeout);
      timeout = setTimeout(later, wait);
      if (callNow) func.apply(context, args);
    };
  };

  // iFrame Sizing
  function resizeUi() {
    var headerHeight = $('#header').height(),
      windowHeight = $(window).height(),
      uiHeightAvail = windowHeight - headerHeight,
      $fullHeightEls = $('.preview-ui, .preview-ui--full, .preview-ui--full iframe, .preview-ui--mobile');

    $fullHeightEls.height(uiHeightAvail);
  }

  // Debouce UI resizing
  var resizeUiDebouced = _debounce(function() {
    resizeUi();
  }, 200);

  window.addEventListener('resize', resizeUiDebouced);

  // Trigger UI resize since the page is painted
  resizeUi();

})(jQuery);


function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + "; " + expires;
}

function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
    }
    return "";
}

function checkCookie() {
    var user = getCookie("username");
    if (user != "") {
        alert("Welcome again " + user);
    } else {
        user = prompt("Please enter your name:", "");
        if (user != "" && user != null) {
            setCookie("username", user, 365);
        }
    }
}
</script>
</body>
</html>