/* -------------------------------------
    BODY
------------------------------------- */
.body-wrap {
  background: #f6f6f6;
  width: 100%;
  padding: 20px;
}
.body-container{
  background:#fff;
  border: 1px solid #f0f0f0;
  padding:20px;
}

/* -------------------------------------
    FOOTER
------------------------------------- */
.footer-container {
  width: 100%;
  clear: both!important;
  font-size: 12px;
  color: #666;
  text-align:center;
  a {
    color: #999;
  }
  .content > table td{
    padding:20px;
  }
}