<table>
  <td align="center">
    <img width="80" src="http://glossier.s3.amazonaws.com/mailers/images/icons.png" alt="Icons">
  </td>
  <tr>
    <td class="align-center">
      <b>Glossier</b><br />
        233 Spring Street<br />
        Floor 10 New York, NY 10013<br />
        5 New Street Square, London, EC4A 3TW<br>
        <a href="https://glossier.com/">www.glossier.com</a> // <a href="mailto:gteam@glossier.com" target="_top">gteam@glossier.com</a><br />
    </td>
  </tr>
</table>
