---
layout: default.hbs
subject: Branded transaction email example
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <img src="../src/img/logo.jpg" width="25" alt="Glossier Logo">
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <h2 style="text-align:center;">Welcome, friend!</h2>
      <table>
        <tr>
          <td>
            <p>Thank you for making an account on Glossier.com, where you can sign in and access your order history, update your info, and edit your settings in the <a target="_blank" href="\{{account_url}}">Account Section</a> of our site.</p>
            <p>Remember that your username is your email address &mdash; easy!</p>
            <p>And if you ever have a question, concern, or want to share your thoughts, email us at <a href="mailto:\{{mail_from_email}}" target="_blank">gTEAM@glossier.com</a>.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div>
  <table>
    <tr>
      <td class="footer align-center">
        {{> footer }}
      </td>
    </tr>
  </table>
</div>
