---
layout: default.hbs
subject: Branded transaction email example
---
<table class="main" width="100%">
	<tr>
		<td class="content-wrapper">
			<p><a href="http://www.mailgun.com"><img src="../src/img/mailgun.png" height="50" alt="Mailgun"></a></p>
			<p>Example of an email with image asset.</p>
			<p>You should upload your email images to a CDN, or for smaller file sizes you can also inline them.</p>
		</td>
	</tr>
</table>

<div class="footer">
	<table width="100%">
		<tr>
			<td>
				<p class="aligncenter">Follow <a href="http://twitter.com/leemunroe">@leemunroe</a> on Twitter.
				</p>
			</td>
		</tr>
	</table>
</div>