---
layout: default.hbs
subject: Confirm your email address
---
<table class="main" width="100%">
	<tr>
		<td class="content-wrapper">
			<p>Please confirm your email address by clicking the link below.</p>
			<p>We may need to send you status updates about our service and it is important that we have an accurate email address.</p>
			<table>
				<tr>
					<td class="padding">
						<p><a href="http://github.com/leemunroe" class="btn-primary">Confirm email address</a></p>
					</td>
				</tr>
			</table>
			<p>If you did not sign up for an account please <a href="http://github.com/leemunroe">click here</a>.</p>
		</td>
	</tr>
</table>

<div class="footer">
	<table width="100%">
		<tr>
			<td>
				<p class="aligncenter">Follow <a href="http://twitter.com/leemunroe">@leemunroe</a> on Twitter.
				</p>
			</td>
		</tr>
	</table>
</div>