---
# settings
layout: klub.hbs
subject: Klub der 40 e.V. Newsletter
# editable content
tagline: 'Mai 2022: Southern Gothic & Strange Country.'
facebook: 'https://www.facebook.com/events/1050453419085249/'
tickets: 'http://vvk.klubder40.de'
---
<br>
<span class="date">samstag, 21. mai 2022</span>
<br />
<b class="name">jim white (usa)</b>
<br>
<span class="name" style="font-size:140%;letter-spacing:-1px;">deadwood dicks (d), rated-r (d)</span>
<br>
<span class="type">basement</span>
<br>
<br>
<b>einlass 17 uhr, beginn 18 uhr, vvk 18 eur zzgl. gebühren, ak 20 eur</b>
<br /> dorothee-sölle-platz 3, 50672 köln ( <a href="https://www.google.com/maps/place/dorothee-sölle-platz+3,+50672+köln/@50.9429611,6.9360946,16.59z/data=!4m13!1m7!3m6!1s0x47bf2508ca5d8e5b:0xd0d43b7e729f306b!2sdorothee-sölle-platz+3,+50672+köln!3b1!8m2!3d50.9435175!4d6.9388286!3m4!1s0x47bf2508ca5d8e5b:0xd0d43b7e729f306b!8m2!3d50.9435175!4d6.9388286" target="_blank">anfahrt</a>: unter der christuskirche am stadtgarten) <br> + <a href="{{ facebook }}" target="_blank">mehr infos auf facebook</a>
<br /> + <a href="{{ tickets }}" target="_blank">tickets jetzt im vorverkauf</a>
<br />
<br>
<br>
<b>
  <i>liebe freundinnen und freunde!</i>
</b>
<br>
<br> '21 war ein schwieriges jahr. trotzdem, oder gerade deswegen, blicken wir zuversichtlich in die zukunft und dürfen uns gemeinsam freuen: ab sofort sind <a href="https://t.rausgegangen.de/tickets/jim-white-us-deadwood-dicks-d" target="_blank">tickets für jim white im basement </a> (18 eur) für nächstes jahr am sa. 21.05.2022 verfügbar. <br>
<br>
<b>jim white (athens, georgia, usa)</b>
<br />
<br /> endlich! der us-amerikanische songwriter & storyteller <a href="https://en.wikipedia.org/wiki/jim_white_(musician)" target="_blank">jim white</a> ( <a href="https://www.youtube.com/watch?v=hyuw8dg7vw0&t=220s" target="_blank">„searching for the wrong-eyed jesus“ </a>), seit 24 jahren auf der bühne, spielt sein erstes konzert in deutschland. und im dritten anlauf soll es 2022 klappen: dieses wunder ist dem klub der 40 e.v. unter kräftiger mitwirkung der sendung <a href="https://674.fm/13-2-20-songs-to-play-w-marcus-baecker/" target="_blank">„songs to play“ auf 674fm</a> und weiterer enthusiasten gelungen. <br />
<br /> die lieder des <a href="https://www.jimwhitemusic.net/video/" target="_blank">„the king of country noir“</a> sind verträumt und düster. er vereint spielend folk, country, americana, bluegrass und pop. auf der bühne ist white zwischen den stücken ein großartiger geschichtenerzähler. begleitet wird er im legendären basement von den belgischen künstlern nicolas rombouts (bass) und geert hellings (gitarre). <br />
<br />
<b>support: deadwood dicks (k&ouml;ln)</b>
<br />
<br /> minimal country - auf der suche nach dem traurigsten song der welt interpretieren die <a href="https://www.youtube.com/watch?v=4zgmit_aaam" target="_blank">deadwood dicks</a> klassiker der mountain music: 11 bis 15 saiten und zwei stimmen kommen dabei zum einsatz. <br />
<br />
<b>support: rated-r (k&ouml;ln)</b>
<br />
<br /> strange country - düstere country-eskapaden, die den idealen teppich für diesen besonderen abend auslegen: <a href="https://www.youtube.com/watch?v=9rylphkzeru" target="_blank">zwei männer, eine gitarre und country-musik </a> im stil der 50er-, 60er- und frühen 70er-jahre. <br />
<br />
<br />
<center>
  <img width="220" height="165" alt="poster" src="https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/jimwhite_220.jpg" border="0" />
  <br />
  <br />
  <small>veranstalter: klub der 40 e.v.</small>
</center>