---
layout: default.hbs
subject: Welcome to the NKBA Knowledge Base! 
---
<table class="header" align="center"  width="100%" cellspacing="0" cellpadding="0" bgcolor="#FDFDFE"  border="0">
    <tr>
        <td class="wrapper border-bottom" valign="middle">
            <img class="logo" border="0" src="https://media.nkba.org/img/nkba-logo@2x.png" alt="NKBA" height="30" width="141">
        </td>
    </tr>
</table>
<table class="main" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="wrapper">
            <table width="100%">
                <tr>
                    <td class="content-block text-4" valign="top">
                       Dear \{{name}},
                    </td>
                </tr>
                <tr>
                    <td class="content-block text-4" valign="top">
                       Congratulations!  You have been enrolled in the NKBA Knowledge Base and have a subscription for this product.
                    </td>
                </tr>
                <tr>
                    <td class="content-block text-4" valign="top">
                         To access all 9 volumes of the NKBA Professional Resource Library electronically, please click the button below. 
                    </td>
                </tr>
                <tr>
                    <td class="pb3 text-4" valign="top">   
                       {{> button type="primary" title="Access The Knowledge Base" url="https://wiki.nkba.org" align="left"}}
                    </td>
                </tr>       
                <tr>
                    <td class="content-block text-4" valign="top">
                       As you prepare for certification or simply have the PRLs at your fingertips, this is a great resource for utilizing NKBA Guidelines out in the field or quickly reviewing items on your phone. 
                    </td>
                </tr>
                <tr>
                    <td class="content-block text-4" valign="top">
                       You will receive an automated email when it’s time to renew your Knowledge Base subscription. We hope you enjoy this great new tool.  
                    </td>
                </tr>
                <tr>
                    <td class="content-block text-4" valign="top">
                       If you have any questions, please email <a href="mailto:info@nkba.org">info@nkba.org</a> or call our member relations team at 1-800-THE-NKBA. 
                    </td>
                </tr>
                 <tr>
                    <td class="content-block text-4" valign="top">
                      Thank you,<br>
                      The NKBA
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
