---
layout: default.hbs
subject: June 2014 Receipt
---
<table class="main" width="100%">
	<tr>
		<td class="content-wrapper aligncenter">

			<h1>$33.98 Paid</h1>
			<h2>Thanks for using Acme Inc.</h2>
			<table class="invoice">
				<tr>
					<td>Lee Munroe<br>Invoice #12345<br>June 01 2014</td>
				</tr>
				<tr>
					<td>
						<table class="invoice-items">
							<tr>
								<td>Service 1</td>
								<td class="alignright">$ 19.99</td>
							</tr>
							<tr>
								<td>Service 2</td>
								<td class="alignright">$ 9.99</td>
							</tr>
							<tr>
								<td>Service 3</td>
								<td class="alignright">$ 4.00</td>
							</tr>
							<tr class="total">
								<td class="alignright" width="80%">Total</td>
								<td class="alignright">$ 33.98</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<p><a href="">View in browser</a></p>
			<p>Acme Inc. 123 Van Ness, San Francisco 94102</p>
			<p>Questions? Email <a href="">support@acme.inc</a></p>

		</td>
	</tr>
</table>

<div class="footer">
	<table width="100%">
		<tr>
			<td>
				<p class="aligncenter">Follow <a href="http://twitter.com/leemunroe">@leemunroe</a> on Twitter.
				</p>
			</td>
		</tr>
	</table>
</div>