---
layout: default.hbs
subject: Reset Your Password
---
<span class="preheader">You're receiving this email because you requested a password reset</span>
<table class="header" align="center"  width="100%" cellspacing="0" cellpadding="0" bgcolor="#FDFDFE"  border="0">
    <tr>
        <td class="wrapper border-bottom" valign="middle">
            <img class="logo" border="0" src="\{{WEB_URL}}/nkba-logo@2x.png" alt="NKBA" height="30" width="141">
        </td>
    </tr>
</table>
<table class="main" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="wrapper">
            <table width="100%">
                <tr>
                    <td class="content-block pt1" valign="top">
                        <h1 class="text-2">Reset your password</h1>
                    </td>
                </tr>

                <tr>
                    <td class="content-block text-4" valign="top">
                        \{{name}},
                    </td>
                </tr>
                
                <tr>
                    <td class="content-block text-4" valign="top">
                        You're receiving this email because you requested a password reset from the NKBA. <strong>Please click the button below to set a new password.</strong><br/>
                    </td>
                </tr>
                <tr>
                    <td class="pb3 text-4" valign="top">   
                        {{> button type="primary" title="Change my Password" url="{{WEB_URL}}/reset/{{token}}" align="left"}}
                    </td>
                </tr>
                <tr>
                    <td class="content-block text-4">
                        If you did not make this request, please notify us at <a href="mailto:cloud@nkba.org">cloud@nkba.org</a>.
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
