---
# SETTINGS
layout: theme-jxd.hbs
# (FairEmail/Android) use the meta title as preview line, then continues with body content
# (Gmail/Web) use the meta title as preview line, then cuts off
# omitted for consistency (recommended)
# subject: 'Kultur & Konzerte in Köln:'

# CONTENT
content:
    logo: https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/assets/logo_p-white.png
    tagline: 'Noise Rock & Electronica aus Strasbourg.'
    headline: Lonlax
    subline: Cléo 2
    # quote: 'Kultur & Konzerte in Köln'
    location: 
        title: 674FM Konzertraum
        address: >
            am Chlodwigplatz (ehemals Lichtung), Ubierring 13, 50678 Köln
    admission:        
        date: Mittwoch, 15. November 2023
        time: Einlass 19 Uhr, Beginn 20 Uhr
        fee: >
            AK 13 EUR / 10 EUR ermäßigt
    tickets:
        # comment-out url to disable section
        url: http://vvk.klubder40.de
        title: Tickets reservieren
    facebook:
        # comment-out url to disable section
        url: https://www.facebook.com/events/651981326916477
        superscript: triff uns auf
        title: Facebook
    poster:
        # comment-out url to disable section
        url: https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/poster/lonlax01_480x334.jpg
        attribution: 'Foto: Marlon Saquet (Lonlax)'
    links:
        # comment-out title to disable section
        # title: 'Reinhören:'
        items:
            - title: Lonlax (soundcloud)
              url: https://soundcloud.com/kartoffelfidji/sets/private-dont-share-3/s-6YrH7vfKbRv
            - title: Cléo 2 (soundcloud) 
              url: https://soundcloud.com/tioklu/sets/cleo2/s-tg1tb0Skevc
            - title: Facebook-Event
              url: https://www.facebook.com/events/651981326916477
            - title: Ticket-Vorverkauf
              url: http://vvk.klubder40.de
# FOOTER
footer:
    # imprint
    imprint: >
            Veranstalter: Klub der 40 e.V. | <a href="https://klubder40.de/impressum" target="_blank">Impressum</a>
    # mandatory unsubscribe link
    unsubscribe: >
            Wer keine Kulturhinweise mehr erhalten möchte, klickt auf <a href="https://301560.seu2.cleverreach.com/rmftlp.php?cid=[CTID]&mid=[MAILING_ID]&h=[CTID]-[USER_ID_SECURE]" target="_blank">Newsletter abmelden</a>.
---
<b>LONLAX (Strasbourg/FR) – Noise Rock</b>
<br>
Lonlax sind ein <a href="https://soundcloud.com/kartoffelfidji/sets/private-dont-share-3/s-6YrH7vfKbRv" target="_blank">Noise Rock Power</a> Trio: Zwei E-Gitarren, die dauernd von einem ständig wechselnden Schlagzeug unterbrochen werden, dazu ein Gesang, der sich müht, sich freizukämpfen. Dies ist ein Notruf aus Frankreich und es ist Marlon Saquet, der ihn auslöst. Wir waren vorgewarnt durch sein Trommeln für Partout Partout und James Leg: Seine Musik läuft nicht rund. Gut für uns!
Mit Marlon Saquet (Vocals, Gitarre), Maxime Didier (Gitarre) und Pierre Haessler (Drums).
<br><br>

<b>CLÉO 2 (Strasbourg/FR) – Happy Electronica</b>
<br>
Zum Apéritif serviert uns der französische Musiker Théo Cloux (Ex-T/O und TIOKLU) seinen neuen, <a href="https://soundcloud.com/tioklu/sets/cleo2/s-tg1tb0Skevc" target="_blank">elektronischen Live-Ausflug</a>. Sein Rezept kann vorwärts wie rückwärts gelesen werden und ist improvisiert: eine cremige Mélange aus warmen Polyrhythmen und säuerlichen Synthesizern, die bei Sonnenaufgang oder -untergang genossen werden kann. Im Sitzen, Stehen oder … Stehsitzen.