---
# SETTINGS
layout: theme-k.hbs
# some email clients (FairEmail/Android) use the meta title as the first text preview line, then continue
# some email clients (Gmail/Web) use the meta title as the first text preview line, then cut
# when in doubt - omit for consistency
# subject: 'Kultur & Konzerte in Köln:'
# CONTENT
content:
    # logo: 'https://aas3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/logo_klub-praesentiert.png'
    logo: 'https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/logo_klub-praesentiert_inverted.png'
    tagline: 'Noise Rock & Electronica aus Strasbourg.'
    date: Mittwoch, 15. November 2023
    artist: Lonlax
    support: Cléo 2
    location: 
        title: 674FM Konzertraum
        address: >
            am Chlodwigplatz (ehemals Lichtung), Ubierring 13, 50678 Köln
    time: Einlass 19 Uhr, Beginn 20 Uhr
    admission: >
        AK 13 EUR / 10 EUR ermäßigt
    tickets:
        # comment-out url to disable tickets
        # url: http://vvk.klubder40.de
        title: Tickets reservieren
    facebook:
        # comment-out url to disable facebook
        url: https://www.facebook.com/events/651981326916477
        superscript: triff uns auf
        title: Facebook
    links:
        # comment-out title to disable links
        # title: 'Reinhören:'
        items:
            - title: Lonlax (soundcloud)
              url: https://soundcloud.com/kartoffelfidji/sets/private-dont-share-3/s-6YrH7vfKbRv
            - title: Cléo 2 (soundcloud) 
              url: https://soundcloud.com/tioklu/sets/cleo2/s-tg1tb0Skevc
    poster:
        # comment-out url to disable poster
        url: https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/lonlax01_480x334.jpg

# FOOTER
footer:
    signature: 'Veranstalter: Klub der 40 e.V. | <a href="https://klubder40.de/impressum" target="_blank">Impressum</a>'
    # do not change
    unsubscribe: >
            Wer keine Kulturhinweise mehr erhalten möchte, klickt auf <a href="https://301560.seu2.cleverreach.com/rmftlp.php?cid=[ctid]&amp;mid=[mailing_id]&amp;h=[ctid]-[user_id_secure]" target="_blank">Newsletter abmelden</a>.
---
<b>LONLAX (Strasbourg/FR) – Noise Rock</b>
<br>
Lonlax sind ein <a href="https://soundcloud.com/kartoffelfidji/sets/private-dont-share-3/s-6YrH7vfKbRv" target="_blank">Noise Rock Power</a> Trio: Zwei E-Gitarren, die dauernd von einem ständig wechselnden Schlagzeug unterbrochen werden, dazu ein Gesang, der sich müht, sich freizukämpfen. Dies ist ein Notruf aus Frankreich und es ist Marlon Saquet, der ihn auslöst. Wir waren vorgewarnt durch sein Trommeln für Partout Partout und James Leg: Seine Musik läuft nicht rund. Gut für uns!
Mit Marlon Saquet (Vocals, Gitarre), Maxime Didier (Gitarre) und Pierre Haessler (Drums).
<br><br>

<b>CLÉO 2 (Strasbourg/FR) – Happy Electronica</b>
<br>
Zum Apéritif serviert uns der französische Musiker Théo Cloux (Ex-T/O und TIOKLU) seinen neuen, <a href="https://soundcloud.com/tioklu/sets/cleo2/s-tg1tb0Skevc" target="_blank">elektronischen Live-Ausflug</a>. Sein Rezept kann vorwärts wie rückwärts gelesen werden und ist improvisiert: eine cremige Mélange aus warmen Polyrhythmen und säuerlichen Synthesizern, die bei Sonnenaufgang oder -untergang genossen werden kann. Im Sitzen, Stehen oder … Stehsitzen.