---
# SETTINGS
layout: theme-jxd.hbs
# (FairEmail/Android) use the meta title as preview line, then continues with body content
# (Gmail/Web) use the meta title as preview line, then cuts off
# omitted for consistency (recommended)
# subject: 'Kultur & Konzerte in Köln:'

# CONTENT
content:
    brand:
      title: '<span>juedisch</span><span>.</span><span>info</span>'
      # url: 'https://juedisch.info'
    headline: Lonlaxima Seraphine
    # subline: Kulturabend
    quote: 'Kulturabend mit geladenen Gästen'
    location: 
        title: 674FM Konzertraum
        address: >
            am Chlodwigplatz (ehemals Lichtung), Ubierring 13, 50678 Köln
    admission:        
        date: Mittwoch, 14. November 2024
        time: Einlass 19 Uhr, Beginn 20 Uhr
        fee: >
            AK 13 EUR / 10 EUR ermäßigt
    tickets:
        # comment-out url to disable section
        url: https://events.juedisch.info
        title: Jetzt anmelden
    facebook:
        # comment-out url to disable section
        # url: https://www.facebook.com/events/651981326916477
        superscript: triff uns auf
        title: Facebook
    poster:
        # comment-out url to disable section
        url: https://s3-eu-west-1.amazonaws.com/files.crsend.com/376000/376111/images/images/unsplash/david-holifield-unsplash_01.jpg
        attribution: 'Foto: David Holifield via Unsplash'
    links:
        # comment-out title to disable section
        title: 'Berichte aus den Netzwerken'
        items:
            - title: 'Eine Machtfrage'
              url: https://demokratischer-salon.de/beitrag/eine-machtfrage/?portfolioCats=77
              text: >
                  Der Demokratische Salon spricht mit Marina Weisband über die Instrumente der Demokratie.
                  Weisband analysiert am Beispiel Hubert Ainwangers wie ein autoritäres Narrativ erzählt wird.
            - title: 'Der ehrliche Antisemitismus: Judenhass reloaded im WWW'
              url: https://www.anders-denken.info/orientieren/der-ehrliche-antisemitismus-judenhass-reloaded-im-world-wide-web
              text: >
                  In Anders Denken bespricht Monika Schwarz-Friesel die Studie „Judenhass im Internet“.
            - title: 'Orci varius natoque penatibus'
              url: #
              text: >
                  Dolor sit amen nulla sequintur fox abet. 
                  Orci varius natoque penatibus vivamus sapien nisi, tempor eu pellentesque. Pellentesque molestie nunc id nibh finibus.
            - title: 'Pellentesque molestie nunc id nibh sapien nisi'
              url: #
              text: >
                  Tempor eu pellentesque Dolor sit amen nulla sequintur fox abet. 
                  Vivamus sapien nisi. Pellentesque molestie nunc id nibh finibus.
            - title: 'Scelerisque efficitur turpis sed'
              url: #
              text: >
                  Dolor sit amen nulla sequintur fox abet. 
                  Vivamus sapien nisi, tempor eu pellentesque. Pellentesque molestie nunc id nibh finibus.



# FOOTER
footer:
    # imprint
    imprint: >
            V.i.S.d.P.: Sophie Brüss | <a href="https://juedisch.info/impressum" target="_blank">Impressum</a>
    # mandatory unsubscribe link
    unsubscribe: >
            Wer keine Nachrichten mehr erhalten möchte, klickt auf <a href="https://376111.seu2.cleverreach.com/rmftlp.php?cid=[CTID]&mid=[MAILING_ID]&h=[CTID]-[USER_ID_SECURE]" target="_blank">Newsletter abmelden</a>.
---
<b>Aktuelle Informationen</b>
<br><br>
Dolor sit amen nulla sequintur <a href="https://www.youtube.com/watch?v=knv3fceFZJ0" target="_blank">Noise Matters</a>.
<br><br>
In et placerat dui, eu imperdiet arcu. Maecenas eros augue, scelerisque efficitur turpis sed, mollis pretium ante. Donec semper imperdiet nulla, at porttitor odio lacinia eleifend.
<br><br>
Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
