---
layout: default.hbs
subject: Simple Transactional Email
---
<table class="main" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="content-wrap">
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td class="content-block">
						Hi there,
						<br><br>
						Sometimes you just want to send a simple HTML email with a basic design.
						<br><br>
						<h1>Simple responsive HTML email template</h1>
						<br><br>
						This is a really simple email template. It's sole purpose is to get you to click the button below.
						<br><br>
						<h2>How do I use it?</h2>
						<br><br>
						All the information you need is on GitHub.
					</td>
					<td class="content-block">
						<a href="https://github.com/leemunroe/html-email-template" class="btn-primary">View the source on GitHub</a>
					</td>
					<td class="content-block">
						Feel free to use, copy, modify this email template as you wish.
						<br><br>
						Thanks, have a lovely day.
						<br><br>
						<a href="http://twitter.com/leemunroe">Follow @leemunroe on Twitter</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<div class="footer">
	<table width="100%">
		<tr>
			<td class="aligncenter content-block">Don't like these annoying emails? <a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>.</td>
		</tr>
	</table>
</div>