---
layout: default.hbs
subject: Simple Transactional Email
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview. 🐸</span>
<table class="main">
	<tr>
		<td class="content-wrap">
			<table>
				<tr>
					<td>
						<h1 class="aligncenter">Simple responsive HTML email template</h1>
						<br><br>
						Hi there,
						<br><br>
						Sometimes you just want to send a simple HTML email with a basic design.
						<br><br>
						This is a really simple email template. It's sole purpose is to get you to click the button below.
						<br><br>
						All the information you need is on GitHub.
						<br><br>
						<a href="https://github.com/leemunroe/html-email-template" class="btn-primary">View the source on GitHub</a>
						<br><br>
						Feel free to use, copy, modify this email template as you wish.
						<br><br>
						Thanks, have a lovely day.
						<br><br>
						<a href="http://twitter.com/leemunroe">Follow @leemunroe on Twitter</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<div class="footer">
	<table>
		<tr>
			<td class="aligncenter">Don't like these annoying emails? <a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>.</td>
		</tr>
	</table>
</div>