---
layout: else.hbs
subject: Welcome!
---
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td align="center"><img src="https://glossier-com.s3.amazonaws.com/mailers/images/logo.jpg" width="25" alt="Logo"/></td>
        </tr>
        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td align="center">
                <h1 style="border-bottom: 4px solid; padding-bottom: 8px; display: inline-block; font-size: 30px;">Welcome, friend!</h1></td>
        </tr>
        <tr>
            <td align="center" style="font-size: 16px; line-height: 24px;">
              Thank you for making an account on Glossier.com, where you can sign in and
              access your order history, update your info, and edit your settings in the
              <a target="_blank" href="{{account_url}}">Account Section</a> of our site.<br/>
            </td>
        </tr>
        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td align="center" style="font-size: 16px; line-height: 24px;">Remember that your username is your email address &mdash; easy.</td>
        </tr>
        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td align="center" style="font-size: 16px; line-height: 24px;">And if you ever have a question, concern, or want to share your thoughts, email us at <a href="mailto:{{mail_from_email}}" target="_blank">gTEAM@glossier.com</a>.</td>
        </tr>
        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td align="center"><img width="80" src="http://glossier.s3.amazonaws.com/mailers/images/icons.png" alt="Icons"></td>
    </tr>

   {{> footer }}

 <td height="20"></td>
  </table>
 </body>
</center>
</td>

    </tr>
    <tr>
      <td height="30"></td>
    </tr>
  </table>
