---
layout: default.hbs
---
<style data-premailer="ignore">
/* For clients that support media queries */
@media only screen and (max-width: 600px) {
	.content-column { width: auto!important; float:none!important;}
	.sidebar-column { width: auto!important; float:none!important;}
  .invoice-table-container{border-left:none!important;}
	.logo { max-height:40px!important;}
}
</style>
<table width="100%" cellspacing="0">
				<tr>
					<td><a href="http://www.mailgun.com"><img src="mg.png" class="logo"></a></td>
					<td class="invoice-date">
						Curtis Johnson<br>
						Invoice #76678<br>
						21 January 2014 - 20 February 2014
					</td>
				</tr>
			</table>
		</td>
		<td></td>
	</tr>
	<!-- /header -->

	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<!-- total -->
			<table class="invoice-paid" width="100%">
				<tr>
					<td width="50%">
						<strong>$96.62</strong> Paid
					</td>
					<td align="right" width="50%">
						Thanks for using Mailgun
					</td>
				</tr>
			</table>
			<!-- /total -->

			<!-- content -->
			<div class="content">
				<div class="sidebar-column">
				<table cellspacing="0">
					<tr>

						<!-- top level matrics -->
						<td valign="top" class="metrics-cell">
							<table class="invoice-metric-table" cellspacing="0">
								<tr>
									<td>
										<strong class="metric-total">243,251</strong><br>
										<span class="metric-label">Messages</span>
									</td>
								</tr>
								<tr>
									<td>
										<strong class="metric-total">0</strong><br>
										<span class="metric-label">Posts via routes</span>
									</td>
								</tr><!-- 
								<tr>
									<td>
										<strong class="metric-total">0</strong><br>
										<span class="metric-label">Campaign messages</span>
									</td>
								</tr> -->
								<tr>
									<td>
										<strong class="metric-total">243,251</strong><br>
										<span class="metric-label">Total processed</span>
									</td>
								</tr>
								<tr>
									<td>
										<strong class="metric-total">0</strong><br>
										<span class="metric-label">Dedciated IPs</span>
									</td>
								</tr>
							</table>
						</td>
						<!-- /metrics -->
					</tr>
				</table>
				</div>
				<div class="content-column">
					<table cellspacing="0" class="invoice-table-container">
					<tr>
						<!-- summary -->
						<td valign="top" class="summary-cell">
							<h3>Summary</h3>
							<table class="invoice-table" cellspacing="0">
								<tr>
									<td>Plan</td>
									<td align="right">Rackspace plan</td>
								</tr>
								<tr>
									<td>Amount due this period</td>
									<td align="right">$59.00</td>
								</tr>
								<tr>
									<td>Previous balance</td>
									<td align="right">0</td>
								</tr>
								<tr>
									<td>Discount</td>
									<td align="right">0</td>
								</tr>
								<tr>
									<td>Total amount due</td>
									<td align="right">$96.62</td>
								</tr>
								<tr class="invoice-total">
									<td>Amount paid</td>
									<td align="right">$96.62</td>
								</tr>
								<tr>
									<td>Remaining balance</td>
									<td align="right">0</td>
								</tr>
								<tr>
									<td colspan="2">Paid with MasterCard ending in 7599</td>
								</tr>
							</table>

							<h3>How we calculate it</h3>
							<table class="invoice-table" cellspacing="0">
								<tr>
									<td>First 50,000 messages</td>
									<td align="right">Free</td>
								</tr>
								<tr>
									<td>Additional 193,251 messages ($0.50 per 1,000)</td>
									<td align="right">$96.62</td>
								</tr>
								<tr class="invoice-total">
									<td>Total</td>
									<td align="right">$96.62</td>
								</tr>
							</table>
							<p><a href="">View in your browser.</a></p>
						</td>
						<!-- /summary -->

					</tr>
				</table>
			</div>
			</div>
			<!-- /content -->
			<div class="clear"></div>
		</td>
		<td></td>
	</tr>

	<!-- footer -->
	<tr class="footer">
		<td></td>
		<td class="outer-container">
			<table width="100%" cellspacing="0">
				<tr>
					<td width="40%" valign="top">
						<h4>Questions?</h4>
						<p>Please email <a href="">support@mailgun.com</a> or call 888-571-8972 with any questions.</p>
					</td>
					<td width="10%">&nbsp;</td>
					<td width="40%" valign="top">
						<h4>Mailgun by Rackspace</h4>
						<p>PO Box 730759, Dallas, TX 75373-0759, USA, Tax ID: 74-3219359</p>
					</td>
				</tr>
			</table>