<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ subject }}</title>
<link href="../_css/main.css" media="all" rel="stylesheet" type="text/css" />
<link href="../_css/responsive.css" media="all" rel="stylesheet" type="text/css" data-premailer="ignore" />
</head>

<body>

	<div class="body-wrap">
	<table>
		<tr>
			<td></td>
			<td class="container">
				<!-- body -->
				{{> body }}
				<!-- /body -->
			</td>
			<td></td>
		</tr>
		<!-- /footer -->
	</table>
</div>
</body>
</html>
