<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ subject }}</title>
<link href="../src/css/main.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>

<table class="body">
	<tr>
		<td></td>
		<td class="container">
			<div class="content">{{ body }}</div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
