<html lang=de>
  <head>
    <title>klub der 40 newsletter</title>
    <meta content="text/html; charset=utf-8" http-equiv=content-type>
    <link href="../src/css/klub.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <table cellpadding=0 width="98%">
      <tbody>
        <tr>
          <td valign=top>
            <table border=0 width="100%">
              <tbody>
                <tr>
                  <td valign=top width=130>
                    <img src="https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/klublogo_min.png" width="130" height="84" border="0" alt="klub der 40">
                    </div>
                  </td>
                  <td style="color: #3f3f3f;text-align:right" align=right valign=top>
                    <div style="line-height: 16px; font-size: 12px">
                      <a href="http://www.facebook.com/klubder40" target=_blank style="text-decoration:none;">
                        <span class=facebook>triff uns auf facebook!</span>
                      </a>
                    </div>
                    <br />
                    <b>"{{ tagline }}"</b>
                  </td>
                </tr>
              </tbody>
            </table>
            <table border=0 width="100%">
              <tbody>
                <tr>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    {{ body }}
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
            <table width="100%">
              <tbody>
                <tr>
                  <td style="text-align: center; font-style: italic; background: #d9cd87" align=center> wer keine kulturhinweise mehr erhalten möchte klickt auf <a style="color:#000" href="https://301560.seu2.cleverreach.com/rmftlp.php?cid=[ctid]&mid=[mailing_id]&h=[ctid]-[user_id_secure]" target="_blank">newsletter bitte abmelden</a>. </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>