<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{{ subject }}}</title>
  <link href="../src/css/unstyled.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
{{ body }}

<small>This message was sent to <a href="mailto:\{{email}}">\{{email}}</a> because you are part of the NKBA.<br/><br/> The National Kitchen
and Bath Association<br/> 687 Willow Grove St<br/> Hackettstown, NJ 07840</small>
</body>
</html>
